.submissions{
    .submission-boxes{
        margin-top: 120px;
        .content-box{
            .logo{
                background-color: white;
                border-radius: 50%;
            }

        }
    }
}